/* Add a background color to the header element */
header {
    background-color:#feb236;
    color: white;
    font-size: 30px;
  }

/* Add a fun background color to the main element */
main{
background-color: #d64161;

}

body{
    background-color:blueviolet;
}
/* Align the h1 containing your name in the center of the header*/
header{
    text-align: center;
}

/* Make your p tag a different color and italic */
footer{
font-style: italic;
color:rgb(2, 238, 29);
}

/* Put a border around your image */
img{
border:5px solid;
}

/* Change the font-family of your list */
.list{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Add a background color to the footer element */
footer{
background-color: blue;    
}

